<div class="Index">
	<div class="Teaser">
		{{#each model.posts as |item|}}
			{{#link-to 'detail' class="Teaser-wrap"}}
				<figure class="Teaser-media">
					<img class="lazyload" alt="" src="{{item.acf.thumbnail.url}}">
					{{!-- <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" alt="" data-srcset="{{item.acf.thumbnail.sizes.thumbnail}} 320w, {{item.acf.thumbnail.sizes.medium}} 640w"> --}}
				</figure>
				<div class="Teaser-body">
					<h2 class="Teaser-title">{{item.title}}</h2>
					<p>{{item.tags.name}}</p>
				</div>
			{{/link-to}}
		{{/each}}
	</div>
</div>
