<div class="Detail">
	{{!-- {{page-item page=model}} @todo consider making a global page component--}}

	<div class="DetailHead Grid-cell Grid-cell--full">
		<div class="DetailHead-body centered Grid-cell Grid-cell--2">
			<div class="DetailHead-copy">
				<h2 class="DetailHead-title">{{{model.title}}}</h2>
				<p>{{{model.content}}}</p>
			</div>
		</div>
		<div class="DetailHead-media Grid-cell Grid-cell--2">
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{model.acf.alt}}" data-sizes="auto" data-srcset="
				{{model.acf.cover.sizes.medium_large}} 320w,
				{{model.acf.cover.sizes.large}} 1024w"/>
		</div>
	</div>

	<div class="DetailGrid DetailGrid--inline">
		<div class="DetailGrid-item DetailGrid-item--text">
			<div class="DetailInfo">
				<h3 class="DetailText-title">Ingredients</h3>
				<ul>
					{{{model.acf.ingredients}}}
				</ul>
				<div class="DetailInfo-bottom">
					{{{model.acf.info}}}
					<p>
						<a href="javascript:window.print()">Print</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	{{#each model.acf.grids as |grid|}}

		{{#if grid.first_grid}}
			<div class="Grid Grid--row DetailGrid DetailGrid--first {{if grid.is_first 'is-first'}} {{if grid.reverse 'is-reverse'}} {{if grid.is_portrait 'is-portrait'}} {{if grid.is_landscape 'is-landscape'}}">
				<div class="Grid-cell DetailGrid-item DetailGrid-item--text">
					{{#if grid.title}}
						<h3 class="DetailText-title">{{grid.title}}:</h3>
					{{/if}}
					{{{grid.text}}}
				</div>
				<div class="Grid-cell DetailGrid-item DetailGrid-item--media">
					<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{grid.image.title}}" data-sizes="auto" data-srcset="
						{{grid.image.sizes.medium}} 320w,
						{{grid.image.sizes.large}} 640w"/>
				</div>
			</div>
		{{/if}}

		{{#if grid.second_grid}}
			<div class="Grid Grid--row DetailGrid DetailGrid--second {{if grid.is_first 'is-first'}} {{if grid.reverse 'is-reverse'}} {{if grid.is_center 'is-center'}} {{if grid.is_bigger 'is-bigger'}}">
				<div class="Grid-cell DetailGrid-item DetailGrid-item--text">
					{{#if grid.title}}
						<h3 class="DetailText-title">{{grid.title}}:</h3>
					{{/if}}
					{{{grid.text}}}
				</div>
				<div class="Grid-cell DetailGrid-item DetailGrid-item--text">
					{{#if grid.title_2}}
						<h3 class="DetailText-title">{{grid.title_2}}:</h3>
					{{/if}}
					{{{grid.text}}}
				</div>
				<div class="Grid-cell DetailGrid-item DetailGrid-item--media">
					<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{grid.image.title}}" data-sizes="auto" data-srcset="
						{{grid.image.sizes.medium}} 320w,
						{{grid.image.sizes.large}} 640w"/>
				</div>
			</div>
		{{/if}}

		{{#if grid.third_grid}}
			<div class="Grid Grid--row DetailGrid DetailGrid--third {{if grid.is_first 'is-first'}} {{if grid.reverse 'is-reverse'}} {{if grid.is_center 'is-center'}} {{if grid.is_bigger 'is-bigger'}}">
				<div class="Grid-cell DetailGrid-item DetailGrid-item--text">
					{{#if grid.title}}
						<h3 class="DetailText-title">{{grid.title}}:</h3>
					{{/if}}
					{{{grid.text}}}
				</div>
				<div class="Grid-cell DetailGrid-item DetailGrid-item--media">
					<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{grid.image.title}}" data-sizes="auto" data-srcset="
					{{grid.image.sizes.medium}} 320w,
					{{grid.image.sizes.large}} 640w"/>
				</div>
				<div class="Grid-cell DetailGrid-item DetailGrid-item--media">
					<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{grid.image_2.title}}" data-sizes="auto" data-srcset="
					{{grid.image_2.sizes.medium}} 320w,
					{{grid.image_2.sizes.large}} 640w"/>
				</div>
			</div>
		{{/if}}


	{{/each}}


	{{outlet}}
</div>
