<div class="Detail">
	{{!-- {{page-item page=model}} @todo consider making a global page component--}}

	<div class="DetailHead Grid-cell Grid-cell--full">
		<div class="DetailHead-body centered Grid-cell Grid-cell--2">
			<h2>{{{model.title}}}</h2>
			<p>{{{model.acf.description}}}</p>
		</div>
		<div class="DetailHead-media">
			<img class="lazyload" alt="" src="{{model.acf.cover.url}}">
		</div>
	</div>
	<div class="DetailItem DetailItem--text DetailItem--small Grid-cell Grid-cell--3">
		<div class="DetailInfo">
			<h3 class="DetailText-title">Ingredients</h3>
			<ul>
				{{{model.acf.ingredients}}}
			</ul>
			<div class="DetailInfo-bottom">
				{{{model.acf.info}}}
				<p>
					<a href="#">Print</a>
				</p>
			</div>
		</div>
	</div>
	{{#if model.acf.directions.[0].directions-content}}
		<div class="DetailItem DetailItem--text DetailItem--small Grid-cell Grid-cell--3">
			<h3 class="DetailText-title">Directions</h3>
			{{{model.acf.directions.[0].directions-content}}}
		</div>
		{{#if model.acf.directions.[1].directions-content}}
			<div class="DetailItem DetailItem--text DetailItem--small">
				{{{model.acf.directions.[1].directions-content}}}
			</div>
		{{/if}}
	{{/if}}

	{{#if model.acf.notes}}
		<div class="DetailItem DetailItem--text DetailItem--small Grid-cell Grid-cell--3">
			<h3 class="DetailText-title">Notes</h3>
			{{{model.acf.notes}}}
		</div>
	{{/if}}

	{{#each model.acf.images as |item|}}
		<div class="DetailItem DetailItem--image Grid-cell Grid-cell--3">
			<img class="lazyload" alt="" src="{{item.image.url}}">
		</div>
	{{/each}}

	{{outlet}}
</div>
