<div class="Detail">
	{{!-- {{page-item page=model}} @todo consider making a global page component--}}

	<div class="DetailHead Grid-cell Grid-cell--full">
		<div class="DetailHead-body centered Grid-cell Grid-cell--2">
			<div class="DetailHead-copy">
				<h2 class="DetailHead-title">{{{model.title}}}</h2>
				<p>{{{model.content}}}</p>
			</div>
		</div>
		<div class="DetailHead-media Grid-cell Grid-cell--2">
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{model.acf.alt}}" data-sizes="auto" data-srcset="
				{{model.acf.cover.sizes.medium_large}} 320w,
				{{model.acf.cover.sizes.large}} 1024w"/>
		</div>
	</div>

	<div class="DetailBody DetailBody--inline">
		<div class="DetailItem DetailItem--text">
			<div class="DetailInfo">
				<h3 class="DetailText-title">Ingredients</h3>
				<ul>
					{{{model.acf.ingredients}}}
				</ul>
				<div class="DetailInfo-bottom">
					{{{model.acf.info}}}
					<p>
						<a href="javascript:window.print()">Print</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	{{#each model.acf.grids as |grid|}}

		{{#if grid.first_grid}}
			<div class="DetailBody {{if grid.is_first 'is-first'}}">
				<div class="Grid Grid--row">
					<div class="Grid-cell DetailItem DetailItem--text">
						{{#if grid.title}}
							<h3 class="DetailText-title">{{grid.title}}:</h3>
						{{/if}}
						{{{grid.text}}}
					</div>
					<div class="Grid-cell DetailItem">
						<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{grid.image.title}}" data-sizes="auto" data-srcset="
							{{grid.image.sizes.medium}} 320w,
							{{grid.image.sizes.large}} 640w"/>
					</div>
				</div>
			</div>
		{{/if}}

		{{#if grid.second_grid}}
			<div class="DetailBody {{if grid.is_first 'is-first'}}">
				<div class="Grid Grid--row">
					<div class="Grid-cell DetailItem DetailItem--text">
						{{#if grid.title}}
							<h3 class="DetailText-title">{{grid.title}}:</h3>
						{{/if}}
						{{{grid.text}}}
					</div>
					<div class="Grid-cell DetailItem DetailItem--text">
						{{#if grid.title_2}}
							<h3 class="DetailText-title">{{grid.title_2}}:</h3>
						{{/if}}
						{{{grid.text}}}
					</div>
					<div class="Grid-cell DetailItem">
						<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{grid.image.title}}" data-sizes="auto" data-srcset="
							{{grid.image.sizes.medium}} 320w,
							{{grid.image.sizes.large}} 640w"/>
					</div>
				</div>
			</div>
		{{/if}}

		{{#if grid.third_grid}}
			<div class="DetailBody {{if grid.is_first 'is-first'}}">
				<div class="Grid Grid--row">
					<div class="Grid-cell DetailItem DetailItem--text">
						{{#if grid.title}}
							<h3 class="DetailText-title">{{grid.title}}:</h3>
						{{/if}}
						{{{grid.text}}}
					</div>
					<div class="Grid-cell DetailItem">
						<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{grid.image.title}}" data-sizes="auto" data-srcset="
						{{grid.image.sizes.medium}} 320w,
						{{grid.image.sizes.large}} 640w"/>
					</div>
					<div class="Grid-cell DetailItem">
						<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{grid.image_2.title}}" data-sizes="auto" data-srcset="
						{{grid.image_2.sizes.medium}} 320w,
						{{grid.image_2.sizes.large}} 640w"/>
					</div>
				</div>
			</div>
		{{/if}}


	{{/each}}


	{{outlet}}
</div>
