<div class="Container Container--big TravelOverview">
	<div class="Grid Grid--margin">
		<div class="Grid-cell">
			{{#link-to 'travel.single' 'berlin-germany'}}
				<div class="Cover Cover--small">
					<div class="Cover-body">
						<h2>{{{model.acf.city.[0].city_title}}}</h2>
						<p>{{{model.acf.city.[0].city_country}}}</p>
					</div>
					<div class="Cover-media">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" alt="" data-srcset="{{model.acf.city.[0].city_cover.sizes.medium}} 320w, {{model.acf.city.[0].city_cover.sizes.post-thumbnail}} 1000w">
					</div>
				</div>
			{{/link-to}}
		</div>
		<div class="Grid-cell">
			{{#link-to 'travel.single' 'amsterdam'}}
				<div class="Cover Cover--small">
					<div class="Cover-body">
						<h2>{{{model.acf.city.[2].city_title}}}</h2>
						<p>{{{model.acf.city.[2].city_country}}}</p>
					</div>
					<div class="Cover-media">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" alt="" data-srcset="{{model.acf.city.[2].city_cover.sizes.medium}} 320w, {{model.acf.city.[2].city_cover.sizes.post-thumbnail}} 1000w">
					</div>
				</div>
			{{/link-to}}
		</div>
		<div class="Grid-cell">
			{{#link-to 'travel.single' 'rome'}}
				<div class="Cover Cover--small">
					<div class="Cover-body">
						<h2>{{{model.acf.city.[5].city_title}}}</h2>
						<p>{{{model.acf.city.[5].city_country}}}</p>
					</div>
					<div class="Cover-media">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" alt="" data-srcset="{{model.acf.city.[5].city_cover.sizes.medium}} 320w, {{model.acf.city.[5].city_cover.sizes.post-thumbnail}} 1000w">
					</div>
				</div>
			{{/link-to}}
		</div>
		<div class="Grid-cell">
			{{#link-to 'travel.single' 'ko-tao'}}
				<div class="Cover Cover--small">
					<div class="Cover-body">
						<h2>{{{model.acf.city.[1].city_title}}}</h2>
						<p>{{{model.acf.city.[1].city_country}}}</p>
					</div>
					<div class="Cover-media">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" alt="" data-srcset="{{model.acf.city.[1].city_cover.sizes.medium}} 320w, {{model.acf.city.[1].city_cover.sizes.post-thumbnail}} 1000w">
					</div>
				</div>
			{{/link-to}}
		</div>
		<div class="Grid-cell">
			{{#link-to 'travel.single' 'bali'}}
				<div class="Cover Cover--small">
					<div class="Cover-body">
						<h2>{{{model.acf.city.[3].city_title}}}</h2>
						<p>{{{model.acf.city.[3].city_country}}}</p>
					</div>
					<div class="Cover-media">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" alt="" data-srcset="{{model.acf.city.[3].city_cover.sizes.medium}} 320w, {{model.acf.city.[3].city_cover.sizes.post-thumbnail}} 1000w">
					</div>
				</div>
			{{/link-to}}
		</div>
		<div class="Grid-cell">
			{{#link-to 'travel.single' 'gili-meno'}}
				<div class="Cover Cover--small">
					<div class="Cover-body">
						<h2>{{{model.acf.city.[4].city_title}}}</h2>
						<p>{{{model.acf.city.[4].city_country}}}</p>
					</div>
					<div class="Cover-media">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" alt="" data-srcset="{{model.acf.city.[4].city_cover.sizes.medium}} 320w, {{model.acf.city.[4].city_cover.sizes.post-thumbnail}} 1000w">
					</div>
				</div>
			{{/link-to}}
		</div>

		{{!-- @todo: add dynamic link --}}
		{{!-- {{#each model as |item|}}
		<div class="Grid-cell">
			{{#link-to 'travel.single' item}}
				<div class="Cover">
					<div class="Cover-body">
						<h2>{{{item.title}}}</h2>
						<p>{{{item.acf.city.city_country}}}</p>
					</div>
					<div class="Cover-media">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" alt="" data-srcset="{{item.acf.city.city_cover.sizes.medium}} 320w, {{item.acf.city.city_cover.sizes.post-thumbnail}} 1000w">
					</div>
				</div>
			{{/link-to}}
		</div>
		{{/each}} --}}
	</div>
</div>
{{outlet}}
