<div class="Container Container--big TravelOverview">
	<div class="Grid Grid--margin">
		{{#each model.acf.city as |city|}}
			<div class="Grid-cell">
				{{#link-to 'city' city.city_slug}}
					<div class="Cover Cover--small">
						<div class="Cover-body">
							<h2>{{{city.city_title}}}</h2>
							<p>{{{city.city_country}}}</p>
						</div>
						<div class="Cover-media">
							<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" alt="" data-srcset="{{city.city_image.sizes.thumbnail}} 320w, {{city.city_image.sizes.medium_large}} 1000w">
						</div>
					</div>
				{{/link-to}}
			</div>
		{{/each}}
	</div>
</div>
{{outlet}}
