{{nav-burger}}

{{#link-to "index"}}
	{{logo-main}}
{{/link-to}}

<div class="Header-inner">
	{{logo-main}}
	<div class="Nav Nav--main">
		<div class="NavItemRecipes js-navToggleRecipes">
			{{#link-to "index" (query-params category="") class="Nav-item NavItemRecipes-title"}}All Recipes
			{{/link-to}}
			<div class="NavSub js-nav-recipes">
				{{!-- only nested in case there will be more content to be shown --}}
				<div class="NavSub-content">
					<div class="NavSub-wrap">
						{{!-- {{#link-to "index" (query-params category="smoothies")}}<h3>Course</h3>{{/link-to}} --}}
						<h3>Course</h3>
						{{#link-to "index" (query-params category="baked-goods-savory") class="NavSub-item"}}Baked Goods{{/link-to}}
						{{#link-to "index" (query-params category="basics") class="NavSub-item"}}Basics{{/link-to}}
						{{#link-to "index" (query-params category="dinner") class="NavSub-item"}}Dinner{{/link-to}}
						{{#link-to "index" (query-params category="drinks") class="NavSub-item"}}Drinks{{/link-to}}
						{{#link-to "index" (query-params category="lunch") class="NavSub-item"}}Lunch{{/link-to}}
						{{#link-to "index" (query-params category="snacks") class="NavSub-item"}}Snacks{{/link-to}}
						{{#link-to "index" (query-params category="sides") class="NavSub-item"}}Sides{{/link-to}}
						{{#link-to "index" (query-params category="soup") class="NavSub-item"}}Soup{{/link-to}}
					</div>
					<div class="NavSub-wrap">
						<h3>Sweet</h3>
						{{!-- {{#link-to "index" (query-params category="baked") class="NavSub-item"}}<h3>Sweet</h3>{{/link-to}} --}}
						{{#link-to "index" (query-params category="baked-goods-sweet") class="NavSub-item"}}Baked goods{{/link-to}}
						{{#link-to "index" (query-params category="cake") class="NavSub-item"}}Cake{{/link-to}}
						{{#link-to "index" (query-params category="muffins") class="NavSub-item"}}Muffins{{/link-to}}
						{{#link-to "index" (query-params category="cookies") class="NavSub-item"}}Cookies{{/link-to}}
					</div>
					<div class="NavSub-wrap">
						<h3>Cuisine</h3>
						{{!-- {{#link-to "index" (query-params category="cuisine") class="NavSub-item"}}<h3>Cuisine</h3>{{/link-to}} --}}
						{{#link-to "index" (query-params category="african") class="NavSub-item"}}African{{/link-to}}
						{{#link-to "index" (query-params category="mexican") class="NavSub-item"}}Mexican{{/link-to}}
						{{#link-to "index" (query-params category="middle-eastern") class="NavSub-item"}}Middle Eastern{{/link-to}}
						{{#link-to "index" (query-params category="syrian") class="NavSub-item"}}Syrian{{/link-to}}
						{{#link-to "index" (query-params category="thai") class="NavSub-item"}}Thai{{/link-to}}
						{{#link-to "index" (query-params category="vietnamese") class="NavSub-item"}}Vietnamese{{/link-to}}
					</div>
				</div>
			</div>
		</div>
		{{#link-to "index" (query-params category="breakfast") class="Nav-item"}}Breakfast{{/link-to}}
		{{#link-to "index" (query-params category="lunch") class="Nav-item"}}Lunch{{/link-to}}
		{{#link-to "index" (query-params category="dinner") class="Nav-item"}}Dinner{{/link-to}}
		{{#link-to "index" (query-params category="dessert") class="Nav-item"}}Dessert{{/link-to}}
		{{!-- <span>/</span> --}}

		<div class="NavItemTravel js-navToggleTravelOverview">
			{{#link-to "travel" class="Nav-item NavItemTravel-title"}}Travel
			{{/link-to}}
			<div class="NavSub js-nav-travel">
				<div class="NavSub-content">
					<div class="NavSub-wrap">
						<h3>Europe</h3>
						{{#link-to "city" 'amsterdam' class="NavSub-item"}}Amsterdam{{/link-to}}
						{{!-- {{#link-to "city" 'bamberg' class="NavSub-item"}}Bamberg{{/link-to}} --}}
						{{#link-to "city" 'berlin' class="NavSub-item"}}Berlin{{/link-to}}
						{{!-- {{#link-to "city" 'florence' class="NavSub-item"}}Florence{{/link-to}} --}}
						{{!-- {{#link-to "city" 'rome' class="NavSub-item"}}Rome{{/link-to}} --}}
					</div>
					<div class="NavSub-wrap">
						<h3>Asia</h3>
						{{#link-to "city" 'ko-tao' class="NavSub-item"}}Ko Tao{{/link-to}}
						{{#link-to "city" 'ko-phangan' class="NavSub-item"}}Ko Phangan{{/link-to}}
						{{#link-to "city" 'bali' class="NavSub-item"}}Bali{{/link-to}}
						{{#link-to "city" 'gili-meno' class="NavSub-item"}}Gili Meno{{/link-to}}
						{{#link-to "city" 'gili-air' class="NavSub-item"}}Gili Air{{/link-to}}
					</div>
				</div>
			</div>
		</div>
	</div>
	{{!-- <div class="{{if layout.onTravel 'is-hidden'}}">
		{{#nav-filter}}
			<i class="icon-filter" data-grunticon-embed></i>
			{{#link-to "index" (query-params tag="gluten-free")}}Gluten free <i class="icon-gluten-free" data-grunticon-embed></i>{{/link-to}}
			{{#link-to "index" (query-params tag="soy-free")}}Soy free <i class="icon-soy-free" data-grunticon-embed></i>{{/link-to}}
			{{#link-to "index" (query-params tag="nut-free")}}Nut free <i class="icon-nut-free" data-grunticon-embed></i>{{/link-to}}
			{{#link-to "index" (query-params tag="sugar-free")}}Sugar free <i class="icon-sugar-free" data-grunticon-embed></i>{{/link-to}}
			{{#link-to "index" (query-params tag="raw")}}Raw <i class="icon-raw" data-grunticon-embed></i>{{/link-to}}
		{{/nav-filter}}
	</div> --}}
</div>

{{yield}}
